In [2]:
import pandas as pd

dictionary = {"a" : [1, 2, 3], "b" : [2, 3, 4], "c" : [3, 5, 6]}

df = pd.DataFrame(dictionary, index=[1, 2, 3])

df

   a  b  c
1  1  2  3
2  2  3  5
3  3  4  6

In [3]:
data = [[1,2,3], [2,3,4], [3,4,5]]

df = pd.DataFrame(data, index=[1,2,3], columns=["a", "b", "c"])

df

   a  b  c
1  1  2  3
2  2  3  4
3  3  4  5

In [4]:

df = pd.read_csv("sample_data/california_housing_test.csv")
df.head(20)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
11,-119.12,35.85,37.0,736.0,166.0,564.0,138.0,2.4167,58300.0
12,-121.93,37.25,36.0,1089.0,182.0,535.0,170.0,4.6900,252600.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
14,-117.97,33.73,27.0,2097.0,325.0,1217.0,331.0,5.7121,222500.0
15,-117.99,33.81,42.0,161.0,40.0,157.0,50.0,2.2000,153100.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
17,-121.20,38.69,26.0,3077.0,607.0,1603.0,595.0,2.7174,137500.0
18,-118.88,34.21,26.0,1590.0,196.0,654.0,199.0,6.5851,300000.0
19,-122.59,38.01,35.0,8814.0,1307.0,3450.0,1258.0,6.1724,414300.0

In [6]:
# Get all entries where the population is greater than 1000
df_pop = df[df["population"] > 1000]
df_pop.head(20)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
14,-117.97,33.73,27.0,2097.0,325.0,1217.0,331.0,5.7121,222500.0
17,-121.20,38.69,26.0,3077.0,607.0,1603.0,595.0,2.7174,137500.0
19,-122.59,38.01,35.0,8814.0,1307.0,3450.0,1258.0,6.1724,414300.0
22,-118.16,34.07,47.0,2994.0,543.0,1651.0,561.0,3.8644,241500.0
23,-122.20,37.79,45.0,2021.0,528.0,1410.0,480.0,2.7788,115400.0
24,-117.28,33.28,13.0,6131.0,1040.0,4049.0,940.0,3.8156,150700.0
26,-122.42,37.76,52.0,3587.0,1030.0,2259.0,979.0,2.5403,250000.0
27,-118.39,33.99,32.0,2612.0,418.0,1030.0,402.0,6.6030,369200.0
28,-118.45,34.07,19.0,4845.0,1609.0,3751.0,1539.0,1.5830,350000.0
29,-118.48,34.01,30.0,3078.0,954.0,1561.0,901.0,3.4852,425000.0
31,-118.30,33.91,34.0,1617.0,493.0,1530.0,500.0,2.6182,172600.0
32,-121.13,39.31,17.0,3442.0,705.0,1693.0,619.0,2.8102,128900.0
33,-118.08,34.55,5.0,16181.0,2971.0,8152.0,2651.0,4.5237,141800.0